@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  margin: 0;
  font-family: "Caudex", serif;
  overflow: overlay;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  scroll-behavior: smooth;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Hide the scrollbar track and only show the thumb */

*::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
  background-color: transparent; /* Hide the scrollbar track */
  border-radius: 8px;}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;  /*Rounded corners for the thumb */
  padding:1px;
  background-color: rgba(43, 51, 149); /* Color of the thumb */
}


* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: var(--primary); /* Adjust background color */
  border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 4px;
  border: 2px solid var(--primary);
}

:root {
  --primary: rgba(255, 255, 255, 0.8); /* Adjust alpha channel to control transparency */
  --secondary: rgba(43, 51, 149);
}

*::-webkit-scrollbar:hover {
  background-color: rgba(43, 51, 149);
  width: 8px;
}

/* Change secondary color to gray on hover */
*::-webkit-scrollbar-thumb:hover {
  width: 8px;
}


.swiper-pagination-bullet {
  height: 5px !important;
  width: 5px !important;
  border-radius: 20px !important;
}

.swiper-pagination-bullet-active {
  background-color: #2B3395 !important;
  width: 14px !important;
}


.swiper-container-free-mode > .swiper-wrapper{
  transition-timing-function : linear;
}
