@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  margin: 0;
  font-family: "Caudex", serif;
  overflow: overlay;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  scroll-behavior: smooth;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Hide the scrollbar track and only show the thumb */

*::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
  background-color: transparent; /* Hide the scrollbar track */
  border-radius: 8px;}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;  /*Rounded corners for the thumb */
  padding:1px;
  background-color: rgba(43, 51, 149); /* Color of the thumb */
}

