@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  margin: 0;
  font-family: "Caudex", serif;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  scroll-behavior: smooth;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

*::-webkit-scrollbar {
  background-color: transparent ;
  width: 8px;
  overflow: overlay;
}


*::-webkit-scrollbar-track {
  background-color: transparent;
  overflow: overlay;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: rgba(43, 51, 149);
  background-clip: content-box;
  margin-right: 10px;
}

